<h3>GET IN TOUCH</h3>
<div class="row">
  <div class="footer_content col-4">
    <p><i class="fa-solid fa-envelope"></i> example@gmail.com</p>
    <p><i class="fa-solid fa-square-phone-flip"></i> 7555-45587-3654</p>
  </div>
  <div class="footer_content col-4">
    <p><a href="#">CONTACT ME</a></p>
  </div>
  <div class="footer_content col-4">
    <i class="fa-brands fa-square-facebook"></i
    ><i class="fa-brands fa-google-plus-g"></i
    ><i class="fa-brands fa-github"></i>
    <p>@copyright <i class="fa-solid fa-copyright"></i> 2019  </p>
  </div>

</div>
