<h1 class="font">Portofolio</h1>
<div class="portofilio_cards">
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let project of projects;">
        <app-project [project]="project"></app-project>
      </div>
    </div>

    <!-- <div class="row">
      <div class="card">
        <h5>WEB DESIGN</h5>
        <hr />
      </div>
      <div class="card">
        <h5>MOBILE DESIGN</h5>
        <hr />
      </div>
      <div class="card"><h5>LOGO DESIGN</h5> <hr></div>
    </div>
    <div class="row">
      <div class="card">
        <h5>WEB APPLICATION DEVELOPMENT</h5>
        
      </div>
      <div class="card">
        <h5>MOBILE APPLICATION DEVELOPMENT </h5>
    
      </div>
      <div class="card"><h5>PWA DEVELOPMENT</h5></div>
    </div> -->
  </div>
</div>
