<div class="skills">
  <h1 class="font">Skills</h1>
  <p>I have 2 years of experience in web development.</p>
</div>

<div class="row">
  <div class="skilld_list col-5">
    <div class="skills_content">
      <ul>
        <li>MY FOCUS</li>
        <hr />
        <li>UX/UI Design</li>
        <li>Responsive Design</li>
        <li>Web Design</li>
      </ul>
    </div>
  </div>
  <div class="skills_chart col-7">
  <div class="skills_content">
    
      <p>HTML</p>
      <div class="container">
        <div class="skills html">90%</div>
      </div>

      <p>CSS</p>
      <div class="container">
        <div class="skills css">80%</div>
      </div>

      <p>JavaScript</p>
      <div class="container">
        <div class="skills js">65%</div>
      </div>

      <p>PHP</p>
      <div class="container">
        <div class="skills php">60%</div>
      </div>
    </div>
  </div>
</div>
<div class="skills_content"></div>
