.skills{
     text-align:center
}
ul{
    list-style: none;
    font-size: large;
    text-align: center;
}
ul li{
    padding: 20px;
}
.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}
.skills_content{
    padding: 70px;
}
.container{
    padding: 20px;
}