<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
  />
</head>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="header">
  <div class="container"><app-header></app-header></div>
</div>
<!-- Aboutme -->
<div class="about_me">
  <div class="container">
    <app-aboutme></app-aboutme>
  </div>
</div>
<!-- Skills -->
<div class="skills">
  <div class="container"><app-skills></app-skills></div>
</div>
<!-- skills end -->


<!-- Portofilio -->
<div class="porofolio">
  <div class="container"><app-portofilo></app-portofilo></div>
</div>
<!-- Portofilio  End-->
<!-- Footer -->
<div class="footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
  <!-- Footer End -->
</div>
